@charset "ISO-8859-1";

/*Colocacion del footer simpre abajo*/

html{
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: #e1e2e1;
}
footer{
	margin-top: auto;
}



footer{
	background: linear-gradient(360deg, rgba(10, 17, 45, 0.99) 0%, rgba(41, 66, 157, 0.99) 81.38%, rgba(60, 86, 178, 0.99) 100%);
	color: #ffffff;
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	text-align: center;
}
.row h4{
	font-size: 24px;
}
.icon, .ico{
	margin: 5px 0;
}
.social, .permision, .enlaces{
	margin: auto;
	font-size: 16px;
}
.icon .iconoRed, .ico .iconoDatos{
	font-size: 20px;
	margin: 0 10px 0 0;
	text-align: right;
}
.privacidad h4{
	font-size: 20px;
	opacity: 0.6;
	font-weight: normal;
	margin: 10px 0 0 0;
}
@media (max-width: 575.98px) { 
	  .container-sm, .container {
    max-width: 600px;
  }
  .social, .permision, .enlaces{
	margin: auto;
	font-size: 16px;
}
.icon .iconoRed, .ico .iconoDatos{
	font-size: 16px;
	margin: 0 10px 0 0;
	text-align: right;
}
h4{
	margin: 20px 0;
}
}
@media (max-width: 768px){
	.row h4{
		margin: 40px 0 0 0;
	}
}