@charset "ISO-8859-1";

/*Header superior*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #ffffff;
}

.header-superior{
	max-width: 1200px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 30px 30px 70px;
}
.logo img{
	width: 50px;
}
.search{
	padding: 0 30px 0 0;
}
.search input{
	width: 300px;
	padding: 10px;
}
.container-menu{
	width: 100%;
	height: 70px;
	background: #023877;
	padding: 0 20px;
}
.menu{
	max-width: 1200px;
	margin: auto;
	height: 100%;
}
nav{
	height: 100%;
}
nav > ul{
	height: 100%;
	display: flex;
}
nav > ul > li{
	height: 100%;
	list-style: none;
	position: relative;
}
nav > ul > li > a{
	width: 100%;
	height: 100%;
	display: flex;
	color: #ffffff;
	align-items: center;
	padding: 14px;
	text-transform: uppercase;
	font-size: 14px;
	transition: all 300ms ease;
	text-decoration: none;
}

nav > ul > li > a:hover{
	transform: scale(1.1);
	background: #0074c7;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
#selected{
	transform: scale(1.1);
	background-color: #0074c7;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
/*submenu*/
nav ul li ul{
	width: 200px;
	display: flex;
	flex-direction: column;
	background: #ffffff;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	position: absolute;
	top: 90px;
	left: -5px;
	padding: 14px 0;
	visibility: hidden;
	opacity: 0;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	z-index: 10;
	transition: all 300ms ease;
}

nav ul li:hover ul{
	visibility: visible;
	opacity: 1;
	top: 70px; 
}

nav ul li ul:before{
	content: '';
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #ffffff;
	position: absolute;
	top: -12px;
	left: 20px;
}
nav ul li ul li{
	list-style: none;	
}
nav ul li ul li a{
	display: block;
	color: #0099e9;
	padding: 6px;
	margin-left: 14px;
	margin-top: 10px;
	font-size: 14px;
	text-transform: uppercase;
	transition: all 300ms ease;
	text-decoration: none;
	color: #000000;
}
nav ul li ul li a:hover{
	background: #0074c7;
	color: #ffffff;
	transform: scale(1.2);
	padding-left: 30px;
	font-size: 14px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.7);
}

/*elemento responsivo*/

.icon-menu{
	align-items: center;
	font-size: 26px;
	color: #ffffff;
	cursor: pointer;
	width: 26px;
	height: 100%;
	display: flex;
}

#check-menu{
	display: none;
}

#label-check{
	width: 26px;
	height: 100%;
	display: none;
}

article p{
	font-size: 18px;
	padding: 20px 20px;
}

@media screen and (max-width: 720px){
	.search input{
		display: none;
	}
	
	.header-superior{
		padding: 10px;
	}
	.logo{
		
	}
	.logo img{
		width: 50px;
	}
	nav > ul{
		flex-direction: column;
		background-color: #023877;
		position: fixed;
		left: 0;
		top: 155px;
		width: 100%;
		height: 0;
		transition: all 300ms ease;
		z-index: 100;
		opacity: 0;
		visibility: hidden;
		padding: 0;
	}
	nav > ul > li > a:hover{
		transform: scale(1);
	}
	nav ul li ul{
		left: 90px;
	}
	nav > ul li:hover ul{
		top: 50px;
	}
	nav > ul > li:first-child a{
		background-position: 20px;
	}
	#selected{
		transform: scale(1);
	}
	#label-check{
		display: block;
	}
	.icon-menu{
		display: flex;
	}
	#check-menu:checked ~ nav > ul{
		height: 360px;
		visibility: visible;
		opacity: 1;
	}
	.centro{
		margin: 0;
	}
	.logo{
		margin: auto;
	}
}










