@charset "ISO-8859-1";

/**{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #f2f2f2;
	font-family: helvetica;
	
}
.menu li{
	list-style: none;
}
/*.menu{
	display: flex;
}
header{
	display: flex;
	
}
li{
	display: flex;
	justify-content: flex-end;
}
.logo{
	position: absolute;
	padding: 10px 30px;
}
nav{
	background: #ffffff;
	height: 60px;
	width: 100%;
}
img{
	height: 40px;
}

nav ul{
	display: flex;
	justify-content: flex-end;
	margin-right: 10px;
}
nav ul li{
	line-height: 65px;
	margin-right: 30px;
}
/*nav ul li a{
	color: #000000;
	padding: 20px 30px;
	border-radius: 5px;
	text-transform: none;
}
nav ul .btn-donar{
	padding: 7px 13px;
	border-radius: 10px;
	background: linear-gradient(90deg, #2C2F71 21.88%, #222797 90.63%);
	color: #ffffff;
}
.menu-principal{
	margin: 0px;
}
.menu{
	margin: 0;
}
li a:hover{
	color: #3c72ff;
	transition: 0.2s;
}
.btn-mark{
	font-size: 30px;
	color: #000000;
	float: right;
	line-height: 65px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
.select{
	display: none;
}
@media (max-width: 952px){
	.logo{
	}
	ul li a{
		
	}
}
@media (max-width: 858px){
	.btn-mark{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #333333;
		top: 60px;
		left: -100%;
		text-align: center;
		transition: all 0.5;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		
	}
	li a:hover{
		background: none;
		color: #444444;
	}
	.select:checked ~ ul{
		left: 0;
	}
}*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
.NuevoEnCasa{
	font-size: 12px;
	padding: 5px 5px;
	width: 100px;
	height: auto;
	background: linear-gradient(270deg, #DBF0FF 0%, #C9E8FF 99.99%);
	border-radius: 10px;
	text-align: center;
	margin: 0 0;
	color: #0500FF;
	font-family: sans-serif;
}
.EsTuPrimeraVez{
	margin: 10px 0 0 0;
	font-size: 30px;
	text-align: center;
}
.btnConocenos{
	text-decoration: none;
	padding: 10px 30px;
	background: linear-gradient(90deg, #2C2F71 21.88%, #222797 90.63%);
	color: #ffffff;
	border-radius: 20px;
	font-size: 14px;	
	margin: 10px 0 0 0;
	cursor: pointer;
}
.colBienvenida{
	max-width: 300px;
	text-align: justify;
	margin: auto;
	
}
.rowBienvenida{
	margin: 70px 0 0 0;
}
p{
	font-size: 14px;
}
.iconosHero{
	margin: 30px 0;
}
.icono{
		background: linear-gradient(90deg, #2C2F71 21.88%, #2C2F71 90.63%);
}
.rowSiguenos{
	margin: 70px 0 0 0;
}
.card{
	border-radius: 20px;
	border: 1px solid #000;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	max-width: 100%;
	width: 80%;
	position: static;
}
.card-img-top{
	border-radius: 20px 20px 0 0;
}
.container-boton{
	text-align: center;
}
.icono i{
	font-size: 30px;
}
.card-texto{
	padding: 16px;
}
.card-pie{
	border-radius: 0 0 20px 20px;
	align-items: center;
	justify-content: space-between;
	background: #f2f2f2;
}
.card-pie img{
	width: 20px;
	height: 20px;
	margin: 0 0 0 5px;
}
.contenedor-menus{
	display: flex;
}
/*`xs` returns only a ruleset and no media query
... { ... }

`sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
.EsTuPrimeraVez{
	margin: 10px 0 0 0;
	font-size: 22px;
}
.colBienvenida{
	max-width: 1000px;
	text-align: justify;
	margin: auto;
	
}
.icono{
	width: 50px;
	height: 50px;
	margin: auto;
}
.cajaIconos{
	margin: 50px 0 0 0;
}
}

/*`md` applies to small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
.EsTuPrimeraVez{
	margin: 10px 0 0 0;
	font-size: 22px;
}
.colBienvenida{
	max-width: 1000px;
	text-align: justify;
	margin: auto;
	
}
.icono{
	width: 50px;
	height: 50px;
}
}

/*`lg` applies to medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
.icono{
	width: 50px;
	height: 50px;
}
}

/*// `xl` applies to large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 
.icono{
	width: 50px;
	height: 50px;
}	
}

/*`xxl` applies to x-large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) { 
.icono{
	width: 50px;
	height: 50px;
}		
}










/*Ajustes al container*/

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 0.1rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 600px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 800px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1200px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1400px;
  }
}